@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0px 5px;
  padding: 0px;
}

/* google fonts */
footer {
  margin: 10px;
  background-color: rgb(44, 42, 42);
  padding: 30px 10px 30px 20px;
  border-top: 2px solid rgb(67, 65, 65);
  margin-top: 5px;
}
footer ul {
  display: flex;
  justify-content: center;
}

.newsletter {
  text-align: center;
  padding: 40px 0;
}
.newsletter h2 {
  margin-bottom: 20px;
  font-size: 18px;
}
.newsletter .subscribe-bar {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
}
.newsletter .subscribe-bar input[type=email] {
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  border-radius: 20px 0 0 20px;
}
.newsletter .subscribe-bar button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #bd7b42;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
.newsletter .subscribe-bar button:hover {
  background-color: #474544;
}

.button:hover {
  background-color: #474544;
}
.button:hover:active {
  background-color: #ccc;
}

.footer li a {
  transition: transform 0.3s, background-color 0.3s;
}
.footer li a:hover {
  transform: scale(1.1);
  background-color: #333;
  color: #bbb8b8;
}

.logo {
  width: 110px;
  object-fit: cover;
  border: 1px solid #0e0e0d;
  border-radius: 100%;
  cursor: pointer;
}

.navbar-collapse {
  flex-direction: column;
}

.nav-link {
  color: #bd7b42;
  font-size: 1rem;
}

.navbar {
  background-color: rgb(44, 42, 42);
}

.navbar-nav {
  margin-right: 100px;
}

.container-form {
  color: black;
  margin-top: 100px;
  margin-bottom: 0px;
  background-color: #cfc5b2;
  justify-content: center;
  height: auto;
}

.container-form h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.contactanos-section {
  display: flex;
  height: 100vh;
}

.contactanos-section img {
  object-fit: cover;
  object-position: 70%;
  flex: 1;
}

.contactanos-section .container-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form .form-group {
  margin-bottom: 20px;
}

.container-form .form-control {
  width: 150%;
}

.sectionvideo {
  margin: 50px;
}
.sectionvideo .video-container {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.indextool {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 100px;
  background-color: rgb(73, 69, 69);
}
.indextool img {
  width: 50%;
  margin-right: 20px;
}
.indextool .scroll-effect .content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}
.indextool .scroll-effect.active .content {
  opacity: 1;
  transform: translateY(0);
}
.indextool .content {
  flex-grow: 1;
}
.indextool .content h2 {
  padding-top: 30px;
  font-size: 24px;
  margin-bottom: 10px;
}
.indextool .content p {
  margin-top: 100px;
}
.indextool .content .button {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #bd7b42;
  color: #090808;
  text-decoration: none;
  border: 1px solid #333;
}
.indextool .content .button:hover {
  background-color: #474544;
}

h1 {
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: bisque;
}

ul {
  list-style-type: none;
}
ul li a {
  color: #bd7b42;
  text-decoration: none;
}

.content {
  flex-grow: 1;
  margin-left: 30px;
}
.content h2 {
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 40px;
}

/* Body */
body {
  background-color: rgb(69, 63, 63);
  color: rgba(245, 245, 245, 0.829);
  font-family: "Open Sans";
}

.carousel {
  margin-top: 100px;
}

/* Media Queries */
/* Mobile */
@media only screen and (max-width: 576px) {
  /* Estilos Generales */
  .section-index img {
    width: 97%;
    height: 79%;
    margin-top: 40px;
  }
  .video-container {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .indextool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .indextool img {
    margin-top: 20px;
    order: 4;
    width: 100%;
    margin-bottom: 20px;
  }
  .indextool .button {
    margin-top: auto;
    align-self: center;
  }
  .contactanos-section {
    padding-top: 50px;
    flex-direction: column;
    margin-top: 100px;
    height: auto;
  }
  .contactanos-section .container-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .container-form {
    margin-top: 1px;
    margin-bottom: 10px;
  }
  .contactanos-section img {
    order: 2;
    margin-bottom: 20px;
  }
}
.img-prd img {
  width: 70%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.img-prd img:hover {
  transform: scale(1.3);
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card-img-top {
  max-width: 100%;
  object-fit: contain;
}

.card-title {
  font-weight: bolder;
}

.card {
  background-color: #c1b5aa;
}

@media only screen and (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
  }
  .card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-img-top {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
.div-quienessomos {
  display: flex;
  width: 100%;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.div-quienessomos .quienes-somos {
  margin-top: 110px;
  flex: 1;
  object-fit: cover;
}

.div-quienessomos .content {
  margin-top: 150px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.div-quienessomos .content h2 {
  margin-top: 0;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.div-quienessomos .content article {
  flex: 1;
}

@media only screen and (max-width: 576px) {
  .div-quienessomos {
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    height: auto;
  }
  .div-quienessomos .quienes-somos {
    order: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
  .div-quienessomos .content {
    order: 1;
    margin-top: 10px;
  }
}
.img-trab {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  justify-content: center;
  margin-bottom: 50px;
}

.img-trab img {
  width: 100%;
  object-fit: cover;
}

.img-trab img {
  width: 90%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.img-trab img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 576px) {
  .img-trab {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
