.container-form {
    color: black;
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: #cfc5b2;
    justify-content: center;
    height: auto;
   }
  
  .container-form h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .contactanos-section {
    display: flex;
    height: 100vh;
  }
  
  .contactanos-section img {
    object-fit: cover;
    object-position: 70%;
    flex: 1;
  }
  
  .contactanos-section .container-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-form .form-group {
    margin-bottom: 20px;
  }

  .container-form .form-control {
    width: 150%;
  }

