.sectionvideo {
  margin: 50px;

  .video-container {
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

  .indextool {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 100px;
    background-color: $secondary-color;

    img {
      width: 50%;
      margin-right: 20px;        
    }

    .scroll-effect .content {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 1s ease, transform 1s ease;
    }
    
    .scroll-effect.active .content {
      opacity: 1;
      transform: translateY(0);
    }

  .content {
    flex-grow: 1;

    h2 {
      padding-top: 30px;
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      margin-top: 100px;
    }

    .button {
     @include boton-estilo;

      &:hover {
        background-color: $section-color;
      }
    }
  }
}

h1 {
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: bisque;
}

ul {
  list-style-type: none;

  li {
    a {
      color: $main-color;
      text-decoration: none;
    }
  }
}

.content {
  flex-grow: 1;
  margin-left: 30px;

  h2 {
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 40px;
  }
}

/* Body */

body {
  background-color: rgb(69, 63, 63) ;
  color: rgba(245, 245, 245, 0.829);
  font-family: "Open Sans";
}

 .carousel {
  margin-top: 100px;
}
