/* Media Queries */

/* Mobile */
@media only screen and (max-width: 576px) {
  /* Estilos Generales */

  
  .section-index img {
    width: 97%;
    height: 79%;
    margin-top: 40px;
  }

  .video-container {
    flex-direction: column;
    align-items: center;
  }

  .video-container iframe {
    width: 100%; 
    height: 300px;
    margin-bottom: 20px;
  }

  // index tool section

  .indextool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .indextool img {
    margin-top: 20px;
    order: 4;
    width: 100%;
    margin-bottom: 20px;
  }

  .indextool .button {
    margin-top: auto;
    align-self: center;
  }

 .div-quienessomos {
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;

    img {
      order: 2;
      width: 100%;
      margin-bottom: 20px;
      flex-basis: 100%;
    }

}

}