/* Media Queries */

/* Mobile */
@media only screen and (max-width: 576px) {
  /* Estilos Generales */

  
  .section-index img {
    width: 97%;
    height: 79%;
    margin-top: 40px;
  }

  .video-container {
    flex-direction: column;
    align-items: center;
    max-width: 100%; 
   }


  // index tool section

  .indextool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .indextool img {
    margin-top: 20px;
    order: 4;
    width: 100%;
    margin-bottom: 20px;
  }

  .indextool .button {
    margin-top: auto;
    align-self: center;
  }

  
   .contactanos-section {
    padding-top: 50px;
    flex-direction: column;
    margin-top: 100px;
    height: auto;
  }

  .contactanos-section .container-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .container-form {
    margin-top: 1px;
    margin-bottom: 10px;
  }

  .contactanos-section img {
    order: 2;
    margin-bottom: 20px;
  }

  
}

