//variables

/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

//colors

$main-color: #bd7b42;
$section-color: #474544;
$body-color: #504f4e;
$hover-color: #8a5b32;


